---
import { SITE_TITLE } from "../consts"
---
<header>
    <p><a href="/">{SITE_TITLE}</a></p>
    <nav>
        <a href="/">Home</a>
        <a href="/guides">Guides</a>
        <a href="/about">About</a>
        <a href="https://github.com/cyrilmichino">Contribute</a>
        <a href=""><button type="button">Support</button></a>
    </nav>
</header>